@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    height: 100vh;
   font-family: 'Roboto';
   margin: 0;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.hero {
    height: 600px;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-left: 10%;
}

.links {
    margin-right: 10%;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;  
}
img {
    width: 600px;
}